*{ margin: 0; }
a{ text-decoration: none; color: #000; }

.conteneur{ margin: 0 auto;
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
 }
 
label {
    font-family: "Arial Black", Gadget, sans-serif;
font-size: 16px;
letter-spacing: 2px;
word-spacing: 2px;
color: #000000;
font-weight: 700;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: none;
}

/* header*/
header { background: #fbf302; padding: 5px; text-align: center; }
header  span{ color: #fff; font-weight: bold; 
    text-transform: uppercase; margin-right: 5%; }
header  nav{ display: inline; }
header  a{ color: #ffffff; text-decoration: none; padding: 5px; }
header  nav  a:hover{ background: #fbf302; }

/* milieu*/
section{ padding: 30px; min-height: 800px;}

/* footer*/
footer{ background: #fbf302; color: transparent; 
    text-align: center; padding: 7px 0;}

/* page entiere*/
.erreur{ background: #ff0000; padding: 5px; margin: 5px; }
.validation{ background: #669933; padding: 5px; margin: 5px; }

/* formulaires*/
form {
    background: #fbf302; color: transparent; 
    text-align: center; padding: 12px; margin: 10%;
    border-radius: 35px;
    border: #c7641e 3px solid;
    max-width: 576px;
    max-height: 576px;
}
.carrousel{
    max-width: 576px;
    max-height: 576px;
}
.message{
    background: #fbf302;
    border: #c7641e 3px solid;
}
.erreur{ background: red; padding: 5px; }
.validation{ background: green; padding: 5px; }
#message{
background: #ffffff; padding: 15px;   margin: 10px auto;  border: 2px solid #c7641e; }
.titre{ text-align: center;    }

